@charset "UTF-8";

body { 
    background:#000000; 
    color:#FFFFFF;
    margin: 0; 
    font-size: 13px; 
    font-family: Malgun Gothic, 맑은 고딕, sans-serif; 
    overflow: hidden; 
}
a { 
    color: #36c; 
    text-decoration: none; 
}
a:hover { background-color: #def; }
h1, h2 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 2.5em; margin-top: 0; }
h2 { font-size: 1.6em; font-weight: normal; }
#nav { z-index:9999; color: #333; }
#nav a { color: #333; text-decoration: underline; }
#nav a:hover { background-color: transparent; }
form p { margin: 0; text-indent: 0; }
.time { font-size: 0.85em; color: #999; width: 5%;}
.time a { color: #999; text-decoration: none; }
.time a:hover { background-color: #ccc; color: #fff; }
.nickname { font-size: 0.9em; text-align: right; width: 10%; }
.message { font-size: 0.9em; width: 85%; }
#update a { font-size: 1.2em; text-align: center; border: 1px solid #ccc; background-color: #f4f4f4; display: block; padding: 0.5em; }
#navbar { z-index:9999; position: fixed; top: 0; right: 0; background-color: #eee; box-shadow: 0px 2px 5px #888; padding: 10px 20px; opacity: 0.8; }
#navbar h2 { margin: 0; }

#content {
	position:absolute; z-index:1;
	top:0px; bottom:40px; left:-9999;
	width:100%;
	overflow:auto;
}

#footer {
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	height:40px;
	line-height:40px;
	padding:0;
}

ul {
	margin:0px;
	padding:0px;
	overflow:hidden;
}

li.line {
	width:100%;
	height:100%;
	list-style:none;
}

@media only screen and (min-device-width: 960px) {
	div.log_line {
		position:relative;
		height:100%;
		line-height:100%;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:1px solid #000000;
		background:#333333;
		color:#ffffff;
	}
	
	span.log_time {
		position:relative;
		padding-left:5px;
		padding-right:5px;
		font-size:0.9em;
		color:#ccc;
		text-align:center;
	}
	
	span.log_nickname {
		position:relative;
		display:inline-block;
		width:6%;
		text-align:right;
		margin-right:10px;
		color:
	}
	
	span.log_message {
		width:80%;
		margin-left:10px;
		display:inline-block;
	}
	#msg { 
		width: 80%;
		
	}
}

@media only screen and (max-device-width: 1024px) {
	div.log_line {
		position:relative;
		height:100%;
		line-height:100%;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:1px solid #000000;
		background:#333333;
		color:#ffffff;
	}
	
	span.log_time {
		position:relative;
		padding-left:5px;
		padding-right:5px;
		font-size:0.9em;
		color:#ccc;
		text-align:center;
	}
	
	span.log_nickname {
		position:relative;
		display:inline-block;
		width:6%;
		text-align:right;
		margin-right:10px;
		color:
	}
	
	span.log_message {
		width:80%;
		margin-left:10px;
		display:inline-block;
	}
	#msg { 
		width: 80%; 
	}
}

@media only screen and (max-device-width: 480px) {
    #navbar { 
        position: static; 
        text-align: center; 
    }
	div.log_line {
		position:relative;
		height:100%;
		line-height:100%;
		padding-top:10px;
		padding-bottom:10px;
	
		border-bottom:1px solid #000000;
		background:#333333;
		color:#ffffff;
	}
	
	span.log_time {
		position:relative;
		padding-left:5px;
		padding-right:5px;
		font-size:0.9em;
		width:10%;
		color:#ccc;
		text-align:center;
	}
	
	span.log_nickname {
		position:relative;
		display:inline-block;
		width:15%;
		text-align:right;
		margin-right:10px;
		color:
	}
	
	span.log_message {
		width:50%;
		margin-left:5px;
		display:inline-block;
	}
	#msg { 
		width: 60%; 
	}
}

#say-box {
	top:10px;
}

#update a { 
    font-size: 1.2em; 
    text-align: center; 
    border: 1px solid #ccc; 
    background-color: #f4f4f4; 
    display: block; 
    padding: 0.5em; 
}
#enable-chat a {
    font-size: 1.1em; 
    text-align: center; 
    display: block; 
    background-color: #ADADAD; 
}
#enable-chat a:hover { 
    background-color: #ddd; 
}
#say {
	margin-bottom:0;
	padding-left:5px;
    font-size: 0.9em; 
    color: #333; 
    background-color: #eee; 
}

html.js tr.selected .nickname span:hover { background-color: white; }
html.js tr .nickname span { padding: 4px; border-radius: 8px; cursor: pointer; }

ul#channel-list {
    list-style-type: none;
}
#channel-list li {
    position: relative;
    width: 500px;
    border-bottom: 1px solid #EBDDD4;
    color: inherent;
}

#channel-list li div.channel-number,
#channel-list li div.channel-name,
#channel-list li div.channel-delete,
#channel-list li div.channel-add-confirm {
    
}
#channel-list li div.channel-number {
    position: absolute;
    left: 0px;
    width: 30px;
    text-align: center;
}
#channel-list li div.channel-name {
    position: absolute;
    margin-left: 50px;
    text-align: left;
    width: 200px;
}
#channel-list li div.channel-delete,
#channel-list li div.channel-add-confirm {
    margin-left: 300px;
    width: 50px;
}


ul#user-list {
    list-style-type: none;
}

#user-list li {
    position: relative;
    width: 600px;
    border-bottom: 1px solid #EBDDD4;
    color: inherent;
}

#user-list li div.user-header {
    background-color: gray; 
    position: relative;
}

#user-list li div.user-number-header,
#user-list li div.user-number {
    position: absolute;
    left: 0px;
    width: 30px;
    text-align: left;
}

#user-list li div.username-header, 
#user-list li div.username {
    position: absolute;
    left: 0px;
    width: 30px;
    margin-left: 100px;
    text-align: left;
}

#user-list li div.nickname-header,
#user-list li div.nickname {
    position: absolute;
    left: 0px;
    width: 30px;
    margin-left: 200px;
    text-align: left;
}

#user-list li div.usertype-header,
#user-list li div.usertype {
    position: absolute;
    left: 0px;
    width: 30px;
    margin-left: 300px;
    text-align: center;
}

#user-list li div.user-status-header,
#user-list li div.user-status {
    position: absolute;
    left: 0px;
    width: 30px;
    margin-left: 400px;
    text-align: center;
}

#user-list li div.user-button-header,
#user-list li div.user-button {
    position: absolute;
    width: 30px;
    margin-left: 500px;
    text-align: center;
}

#userinfo li div.static,
#userinfo li div.username,
#userinfo li div.pw, 
#userinfo li div.nickname {

}

#userinfo li div.static {

}

#userinfo li div.username {

}

#userinfo li div.password {

}

#userinfo li div.nickname {

}

#admin-page-outline {
    
}

#channel-selector {
    position: relative;
}

#channel-selector select {
    height: 200px;
}

#channel-selector div.user-enable-channels {
    position: absolute;
    width: 100px;
}

#channel-selector div.user-available-channels {
    position: relative;
    margin-left: 200;
}